name: python auto code format

on:
  push:
    branches: 
      - main
      - develop
    paths:
      - 'python/**'

  workflow_dispatch:

jobs:
  black:
    name: Check code style with Black
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python
    steps:    
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.6.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.6.8
      - name: Install black
        run: pip install black
      - name: run code format
        run: find . -type f -name "*.py" | xargs black
      - name: git settings
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: Extract branch name
        id: extract_branch
        run: echo "##[set-output name=BRANCH_NAME;]$(echo ${GITHUB_REF#refs/heads/})"
      - name: commit
        run: git commit -m "python modules changed auto format." -a || echo "No changes to commit."
      - name: push
        run: |
          echo target branch is ${{ steps.extract_branch.outputs.BRANCH_NAME }}
          git pull
          git push origin ${{ steps.extract_branch.outputs.BRANCH_NAME }}
